<div class="tickets view">
<h2><?php echo __('Ticket'); ?></h2>

<div class="row">

    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><?php echo __('Id'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['id']); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Customer'); ?></dt>
                    <dd>
                        <?php echo $this->Html->link($ticket['Customer']['full_name'], array('controller' => 'customers', 'action' => 'view', $ticket['Customer']['id'])); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Moderator'); ?></dt>
                    <dd>
                        <?php 
                    		if(isset($ticket['Admin']['id'])) {
                    			echo $this->Html->link($ticket['Admin']['full_name'], array('controller' => 'admins', 'action' => 'view', $ticket['Admin']['id'])); 
                    		} else {
                    			echo 'Təyin olunmayıb';
                    		}
                    	?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Equipment'); ?></dt>
                    <dd>
                        <?php echo $this->Html->link($ticket['Equipment']['name'], array('controller' => 'equipment', 'action' => 'view', $ticket['Equipment']['id'])); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Status'); ?></dt>
                    <dd>
                        <?php echo $this->Html->link($ticket['Status']['name'], array('controller' => 'statuses', 'action' => 'view', $ticket['Status']['id'])); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Request Type'); ?></dt>
                    <dd>
                        <?php echo $this->Html->link($ticket['RequestType']['name'], array('controller' => 'request_types', 'action' => 'view', $ticket['RequestType']['id'])); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Subject'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['subject']); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Viewed'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['viewed']); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Open'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['open']); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Satisfied'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['satisfied']); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Created'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['created']); ?>
                        &nbsp;
                    </dd>
                    <dt><?php echo __('Modified'); ?></dt>
                    <dd>
                        <?php echo h($ticket['Ticket']['modified']); ?>
                        &nbsp;
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading"><?php echo __('Actions'); ?></div>
            <div class="panel-body">
                <?php echo $this->Html->link(_('Edit'), array('action' => 'edit', $ticket['Ticket']['id']), array('class' => 'btn btn-warning')); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $ticket['Ticket']['id']), array('class' => 'btn btn-danger'), __('Are you sure you want to delete # %s?', $ticket['Ticket']['id'])); ?>
                <hr />
                <?php echo $this->Form->create('Ticket', array('action' => 'open_set')); ?>
                    <fieldset>
                        <?php echo $this->Form->input('id', array('default' => $ticket['Ticket']['id'])); ?>
                        <?php echo $this->Form->input('open', array('default' => $ticket['Ticket']['open'])); ?>
                    </fieldset>
                <?php echo $this->Form->end(__('Set')); ?>
                <hr />
                <?php echo $this->Form->create('Ticket', array('action' => 'status_set')); ?>
                    <fieldset>
                        <?php echo $this->Form->input('id', array('default' => $ticket['Ticket']['id'])); ?>
                        <?php echo $this->Form->input('status_id', array('default' => $ticket['Ticket']['status_id'])); ?>
                    </fieldset>
                <?php echo $this->Form->end(__('Set')); ?>
                <hr />
                <?php echo $this->Form->create('Ticket', array('action' => 'moderator_set')); ?>
                    <fieldset>
                        <?php echo $this->Form->input('id', array('default' => $ticket['Ticket']['id'])); ?>
                        <?php echo $this->Form->input('moderator_id', array('options' => $moderators, 'default' => $ticket['Ticket']['moderator_id'])); ?>
                    </fieldset>
                <?php echo $this->Form->end(__('Set')); ?>
            </div>
        </div>
    </div>

</div>


</div>
<div class="row">
	<h3><?php echo __('Messages'); ?></h3>
	<?php foreach ($ticket['Message'] as $message): ?>
			<?php echo $this->element('message', array('message' => $message)); ?>
	<?php endforeach; ?>

	<div class="hide" id="message_template">
	    <?php echo $this->element('message', array('message' => array('body' => '', 'created' => '', 'username' => '', 'role' => ''))); ?>
	</div>

    <div class="messages form">
        <?php echo $this->Form->create('Message', array('controller' => 'Toolbar', 'action' => 'add')); ?>
            <fieldset>
                <legend><?php echo __('Reply'); ?></legend>
            <?php
                echo $this->Form->hidden('ticket_id', array('value' => $ticket['Ticket']['id']));
                echo $this->Form->input('body', array('label' => false));
            ?>
            </fieldset>
        <?php echo $this->Form->end(__('Submit'), array('class' => 'btn btn-primary')); ?>
    </div>

</div>
